accelerate==0.18.0
appdirs==1.4.4
bitsandbytes==0.37.2
datasets==2.10.1
fire==0.5.0
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
torch==2.0.0
sentencepiece==0.1.97
tensorboardX==2.6
gradio==3.34.0
seaborn==0.12.2
ipykernel
ipywidgets
tensorboard==2.12.2
langchain==0.0.312
sentence_transformers==2.2.2
unstructured==0.6.2
pdfminer.six==20221105
qdrant-client==1.1.6
